@media (max-width: 790px){
    .title {
      margin-top: -90%;
      margin-top: 20%;
      font-size: 1px;
    }
    .form-container {
      margin: -100%;
      margin-left: -20%;
    }
    .input-field {
      width: 100%; /* Адаптируем ширину поля для маленьких экранов */
      padding: 8px;
    }
    body {
        flex-flow: row wrap;
    }
  }